.header2{
    background-color: blueviolet;
    height: 125px;
    padding: 20px;
}

.nav2{
    background-color: rgb(183, 122, 239);
    height: 704px;
    padding: 20px;
}

.section2{
    background-color: rgb(216, 186, 245);
    height: 704px;
    padding: 20px;
}

.footer2{
    background-color: blueviolet;
    height: 125px;
    padding: 20px;  
}
