.header1{
    background-color: blueviolet;
    width: 100%;
    height: 125px;
    padding: 20px;
}

.nav1{
    background-color: rgb(183, 122, 239);
    width: 100%;
    height: 100px;
    padding: 20px;
}

.section1{
    background-color: rgb(216, 186, 245);
    width: 100%;
    height: 604px;
    padding: 20px;
}

.footer1{
    background-color: blueviolet;
    width: 100%;
    height: 125px;
    padding: 20px;  
}
